parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        -
            message: '#has parameter \$(values|default) with no value type specified in iterable type array#'
            path: src/CaptainHook/Input.php
